body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.cons-text,
.team-person,
.contact-item,
.portfolio-item-name,
.portfolio-text,
.cage-text {
  letter-spacing: 0.02em;
}

.cons-text,
.team-role,
.portfolio-text,
.contact-item {
  color: #434455;
}

.team-title,
.portfolio-title {
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-role {
  letter-spacing: 0.02em;
  font-size: 16px;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
}

.contact-item-title,
.portfolio-item-title,
.team-person,
.cons-item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-title,
.portfolio-title,
.contact-item-title,
.portfolio-item-title,
.team-person,
.cons-item-title {
  color: #2e2f42;
}

.hero-title,
.team-title,
.portfolio-title,
.team-person,
.team-role {
  text-align: center;
}

.menu-item {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover,
.menu-item:focus,
.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
}

.hero-cta {
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  border: none;
  text-align: center;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-cta:hover,
.hero-cta:focus {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header .logo {
  padding: 24px 0;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light,
.cage-text {
  color: #f4f4fd;
}

.cage {
  letter-spacing: 0.03em;
}

.cage,
.hero {
  background-color: #2e2f42;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  /* padding: 24px 0; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-item {
  position: relative;
  padding: 24px 0;
}

.menu-item.current {
  color: #404bbf;
}

.menu-item.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 76px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.hero {
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-color: #2e2f42;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-cta {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
}

.section {
  padding: 120px 0;
}

.cons-list {
  display: flex;
  gap: 24px;
}

.cons-icon-wrapper {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.cons-item {
  width: calc((100% - 3 * 24px) / 4);
}

.cons-item-title {
  margin-bottom: 8px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-data {
  padding: 32px 0px;
  text-align: center;
}

.team-person {
  margin-bottom: 8px;
}

.team-role {
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-icon {
  fill: #f4f4fd;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-data {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
}

.cage {
  padding: 100px 0;
}

.cage-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.cage-text {
  width: 264px;
}

.cage-logo-text {
  margin-right: 120px;
}

.cage-socials {
  margin-right: 80px;
}

.cage-socials-text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.cage-socials-list {
  display: flex;
  gap: 16px;
}

.cage-socials-item {
  width: 40px;
  height: 40px;
}

.cage-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cage-socials-icon {
  fill: #f4f4fd;
}

.cage-socials-link:hover,
.cage-socials-link:focus {
  background-color: #31d0aa;
}

.subscribe-label {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: block;
}

.cage-subscribe-wrapper {
  display: flex;
  gap: 24px;
}

.cage-subscribe-form {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
}

.cage-subscribe-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.cage-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.cage-subscribe-button:hover,
.cage-subscribe-button:focus {
  background-color: #404bbf;
}

.cage-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  position: relative;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-form-wrapper {
  height: 138px;
  margin-bottom: 16px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  margin-bottom: 16px;
}

.modal-label {
  display: block;
}

.modal-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-checkbox-overlay {
  fill: #fff;
}

.modal-checkbox:checked + .terms-and-conditions .modal-custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-checkbox:checked + .terms-and-conditions .modal-checkbox-overlay {
  /* fill: #f4f4fd; */
}

.terms-and-conditions {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.terms-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.privacy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
